node_modules/
.DS_Store
*.log

# Unity
unity/*/Library/
unity/*/Temp/
unity/*/Obj/
unity/*/Build/
unity/*/Builds/
unity/*/Logs/
unity/*/UserSettings/
unity/*/MemoryCaptures/
unity/*/*.csproj
unity/*/*.sln
